                .navbar {
                    font-family: 'Ubuntu', sans-serif;
                    background-color: #FCFCFC;
                    border-color: transparent;
                    height: 60px;
                }
                
                .navbar-brand {
                    color: #282828;
                    padding: 10px;
                    margin-left: 5px;
                    line-height: 23px;
                }
                
                .btn:hover {
                    background-color: #001911;
                    color: #C9FFED;
                }
                
                .donate1 {
                    left: auto;
                    right: 20px;
                    position: fixed;
                    margin-top: 250px;
                    float: right;
                    z-index: 1;
                }
                
                .donate {
                    font-family: 'Ubuntu', sans-serif;
                    background-color: #00CC99;
                    font-size: 150%;
                    border-width: 20px;
                    opacity: 0.8;
                    transition: 0.6s;
                }
                
                .sidebuttonbar {
                    top: 80px;
                    font-size: 120%;
                }
                
                .sidebutton {
                    color: #122D00;
                    background-color: #D7F7C2;
                    border: none;
                    margin: 3em 10px;
                }
                
                .sidebutton:hover {
                    color: #122D00;
                    background-color: #87C86B;
                }
                
                .issue,
                .storypic {
                    -moz-transition: -moz-transform 0.2s ease-out;
                    -webkit-transition: -webkit-transform 0.2s ease-out;
                    -ms-transition: -ms-transform 0.2s ease-out;
                    transition: transform 0.2s ease-out;
                }
                
                .issue {
                    margin-top: 80px;
                }
                
                .issue:hover,
                .storypic:hover .hispic:hover {
                    -moz-transform: scale(1.05);
                    -webkit-transform: scale(1.05);
                    -ms-transform: scale(1.05);
                    transform: scale(1.05);
                }
                
                .content1 {
                    margin-bottom: 15%;
                    margin-top: 6%;
                    height: 1000px;
                }
                
               
                
                .word {
                    margin-top: 40px;
                }
                
                
                
                p.post-meta {
                    padding-top: 10px;
                }
                
                a:link {
                    text-decoration: none;
                    color: #222222;
                }
                
                a:hover {
                    text-decoration: none;
                    color: #007f80;
                }
                
                a:visited {
                    text-decoration: none;
                    color: #006699;
                }
                
                h2 {
                    line-height: 50px;
                }
                
                h4 {
                    line-height: 30px;
                }
                
                h2:hover {
                    font-size: 32px;
                    transition: 0.5s;
                }
                
                h3 {
                    font-size: 250%;
                    color: #444444;
                    margin-top: 60px;
                    padding-left: 35%;
                }
                
               
                
                
                .storypic {
                    padding-top: 8%;
                    padding-left: 5%;
                }
                
                hr {
                    left: 10%;
                }
                
                .pager {
                    padding-top: 5%;
                    margin-right: 100px;
                }
                
                .pager li > a,
                .pager li > span {
                    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 800;
                    letter-spacing: 1px;
                    padding: 15px 25px;
                    background-color: white;
                    border-radius: 0;
                }
                
                .pager li > a:hover,
                .pager li > a:focus {
                    color: white;
                    background-color: #0085a1;
                    border: 1px solid #0085a1;
                }
                
                 .footer {
                    color: #282828;
                    margin: 10%;
                }
                
                .contact {
                    line-height: 150%;
                }
                
                .icon {
                    padding: 30px;
                }
                
                .icon1 {
                    color: black;
                    padding-left: 35px;
                }
                
                .fa-2x {
                    color: #000000;
                }
                
                .fa-2x:hover {
                    color: #666666;
                }
