.jumbotron {
    margin-top: 10%;
    padding: 10px;
}

.img250 {
    width: 250px;
    height: 150px;
    background-color: #c9c9c9;
    padding: 0px;
    margin: 0px;
}

.footer {
    padding: 30px;
}
